BigQuery for MCP.json
{
  "nodes": [
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "tunergia-1722509306765",
          "mode": "list",
          "cachedResultName": "Tunergia",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=tunergia-1722509306765"
        },
        "sqlQuery": "{{ $json.body.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "0f24af93-d1e6-4570-8123-fd34cf151c34",
      "name": "Execute a SQL query",
      "credentials": {
        "googleBigQueryOAuth2Api": {
          "id": "HuL2sSJL5cPYwr4j",
          "name": "Personal Pedro"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "59200adf-d6df-4dd2-b319-5ab57d2e5052",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3b0e7b27-5f29-4571-bded-ad74195e153a",
      "name": "Query for BigQuery",
      "webhookId": "59200adf-d6df-4dd2-b319-5ab57d2e5052"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nodo",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        224
      ],
      "id": "fdda03d1-bfaf-4f2b-9753-187a122ac937",
      "name": "Consult NODO with ID or CUPS",
      "webhookId": "59200adf-d6df-4dd2-b319-5ab57d2e5052"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all BigQuery results into a single array response\nconst allItems = $input.all().map(item => item.json);\n\nreturn [{\n  json: {\n    data: allItems,\n    count: allItems.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "50ba3291-c3a2-41ec-8035-8a1a6a331ddc",
      "name": "Aggregate results"
    },
    {
      "parameters": {
        "path": "documento-nodo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        448
      ],
      "id": "b0c039e2-d78c-4989-bb08-193f5461f7c3",
      "name": "Download Document from NODO",
      "webhookId": "59200adf-d6df-4dd2-b319-5ab57d2e5052"
    },
    {
      "parameters": {
        "url": "=https://gaiag.nodogestion.com{{ $json.query.query }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "Documento"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        448
      ],
      "id": "b0922748-0d18-41d0-8ace-af777de8a8c4",
      "name": "Download Document",
      "credentials": {
        "httpBasicAuth": {
          "id": "8Vg7TyHllfv2EefZ",
          "name": "NODO - Prod"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "id": "96f3b87a-cad9-4411-b661-afc3458d8bd1",
      "name": "Respond to Document from NODO",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        448,
        448
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crear-contrato-nodo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        672
      ],
      "id": "8ad7cef1-634f-43b5-9530-5bfa7966c058",
      "name": "Crear Contrato en NODO",
      "webhookId": "59200adf-d6df-4dd2-b319-5ab57d2e5052"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gaiag.nodogestion.com/api/operaciones/crear",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "nombre_cliente",
              "value": "={{ $json.contract_data.titular }}"
            },
            {
              "name": "nif",
              "value": "={{ $json.contract_data.nif }}"
            },
            {
              "name": "tipo_empresa",
              "value": "={{ $json.tipo_empresa }}"
            },
            {
              "name": "telefono",
              "value": "={{ $json.telefono || '' }}"
            },
            {
              "name": "direccion",
              "value": "={{ $json.contract_data.direccion_fiscal }}"
            },
            {
              "name": "cp",
              "value": "={{ $json.contract_data.cp_fiscal }}"
            },
            {
              "name": "poblacion",
              "value": "={{ $json.contract_data.poblacion_fiscal }}"
            },
            {
              "name": "provincia",
              "value": "={{ $json.contract_data.provincia_fiscal }}"
            },
            {
              "name": "email",
              "value": "={{ $json.contract_data.email }}"
            },
            {
              "name": "movil",
              "value": "={{ $json.contract_data.movil }}"
            },
            {
              "name": "cups",
              "value": "={{ $json.contract_data.cups }}"
            },
            {
              "name": "fecha",
              "value": "={{ new Date().toISOString().slice(0, 19).replace('T', ' ') }}"
            },
            {
              "name": "comercializadora",
              "value": "={{ $json.comercializadora }}"
            },
            {
              "name": "tarifa"
            },
            {
              "name": "concepto",
              "value": "={{ $json.concepto }}"
            },
            {
              "name": "comercial",
              "value": "1731"
            },
            {
              "name": "comercializadora_saliente",
              "value": "={{ $json.contract_data.comercializadora_actual }}"
            },
            {
              "name": "cnae_actividad",
              "value": "={{ $json.cnae || '9820' }}"
            },
            {
              "name": "firma_digital",
              "value": "1"
            },
            {
              "name": "direccion_suministro",
              "value": "={{ $json.contract_data.direccion_suministro }}"
            },
            {
              "name": "poblacion_suministro",
              "value": "={{ $json.contract_data.poblacion_suministro }}"
            },
            {
              "name": "provincia_suministro",
              "value": "={{ $json.contract_data.provincia_suministro }}"
            },
            {
              "name": "cp_suministro",
              "value": "={{ $json.contract_data.cp_suministro }}"
            },
            {
              "name": "persona_contacto",
              "value": "={{ $json.contract_data.titular }}"
            },
            {
              "name": "persona_contacto_nif",
              "value": "={{ $json.contract_data.nif }}"
            },
            {
              "name": "iban_contrato",
              "value": "={{ $json.contract_data.iban }}"
            },
            {
              "name": "consumo",
              "value": "={{ $json.contract_data.consumo_anual_kwh || 0 }}"
            },
            {
              "name": "potencia_contratada_1",
              "value": "={{ $json.contract_data.potencia_p1 || 0 }}"
            },
            {
              "name": "potencia_contratada_2",
              "value": "={{ $json.contract_data.potencia_p2 || 0 }}"
            },
            {
              "name": "potencia_contratada_3",
              "value": "={{ $json.contract_data.potencia_p3 || 0 }}"
            },
            {
              "name": "potencia_contratada_4",
              "value": "={{ $json.contract_data.potencia_p4 || 0 }}"
            },
            {
              "name": "potencia_contratada_5",
              "value": "={{ $json.contract_data.potencia_p5 || 0 }}"
            },
            {
              "name": "potencia_contratada_6",
              "value": "={{ $json.contract_data.potencia_p6 || 0 }}"
            },
            {
              "name": "consumo_1",
              "value": "={{ $json.contract_data.consumo_p1 || 0 }}"
            },
            {
              "name": "consumo_2",
              "value": "={{ $json.contract_data.consumo_p2 || 0 }}"
            },
            {
              "name": "consumo_3",
              "value": "={{ $json.contract_data.consumo_p3 || 0 }}"
            },
            {
              "name": "consumo_4",
              "value": "={{ $json.contract_data.consumo_p4 || 0 }}"
            },
            {
              "name": "consumo_5",
              "value": "={{ $json.contract_data.consumo_p5 || 0 }}"
            },
            {
              "name": "consumo_6",
              "value": "={{ $json.contract_data.consumo_p6 || 0 }}"
            },
            {
              "name": "coste_operativo",
              "value": "0"
            },
            {
              "name": "cambio_comercializadora",
              "value": "SI"
            },
            {
              "name": "tarifa_acceso",
              "value": "={{ $json.contract_data.tarifa_acceso }}"
            },
            {
              "name": "fact_electronica",
              "value": "SI"
            },
            {
              "name": "luz_autoconsumo",
              "value": "NO"
            },
            {
              "name": "observaciones",
              "value": "Contrato generado desde Tunerface"
            },
            {
              "name": "futura_activacion",
              "value": "CUANTO ANTES"
            }
          ]
        },
        "options": {}
      },
      "id": "b6fdf997-d56c-413c-bb1f-35445b3ba898",
      "name": "NODO - Crear Contrato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        672
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "z40Y68JtmeUQHIop",
          "name": "NODO - Test"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        672
      ],
      "id": "465880b3-a4f4-4cd6-8304-123b268c7e50",
      "name": "DYNAMIC CONTRACT NODE"
    },
    {
      "parameters": {
        "url": "=https://gaiag.nodogestion.com/api/operaciones/consultar/{{ $json.body.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        224
      ],
      "id": "eb543d13-01b3-41dd-99bd-c69fbe7c5160",
      "name": "Consulta NODO",
      "credentials": {
        "httpBasicAuth": {
          "id": "8Vg7TyHllfv2EefZ",
          "name": "NODO - Prod"
        }
      }
    }
  ],
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Aggregate results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query for BigQuery": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consult NODO with ID or CUPS": {
      "main": [
        [
          {
            "node": "Consulta NODO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document from NODO": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Respond to Document from NODO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Contrato en NODO": {
      "main": [
        [
          {
            "node": "DYNAMIC CONTRACT NODE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DYNAMIC CONTRACT NODE": {
      "main": [
        [
          {
            "node": "NODO - Crear Contrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d9ea544fdadf26c0cb1af2a2170c8ad35272e6ce482d9566666c10e545e2572e"
  }
}
